.App {
  text-align: center;
  width: 98%;
  height:98%;
  margin: 1%;
}



.navbar {
  border-bottom: 1px solid #a5a1a2;
  max-width: 90%;
  display: flex;
  /* margin: 0 auto; */
  margin-top: 2%;
  margin-bottom: 2%;
}

.links {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 25px;
}

h1 {
  color: #4439a7;
  margin-left: 0px 20px;
}

.link {
  color: pink;
  text-decoration: none;
  margin-right: 20px;
}

.link:hover {
  color: blue;
}

.headerStyle{
  border: 1px solid black;
  background-color: #61dafb;
}
.homeStyle {
  /* border: 1px solid black; */
  /* background-color: #cca0bf; */
  height: 650px;
  margin: 1%;
  /* overflow-y: scroll; */
}

.homeTableStyle {
  border: 1px solid green;
  display:inline-block;
  margin: 1%;
  width: 64%;
  overflow-y: scroll;
  height: 600px;
}

.homeFormStyle {
  /* border: 1px solid green; */
  display:inline-block;
  margin: 1%;
  width: 30%;
  height: 500px;
  /* overflow-y: scroll; */
}
.footerStyle {
  border: 1px solid black;
  background-color: #61dafb;

}


.resetButtonStyle{
  margin:5px;
  padding:3px;
  font-size:25px;
  background-color:#e0215a;
 border-radius:8px;
}

.updateButtonStyle{
  margin:5px;
  padding:3px;
  font-size:25px;
  background-color:#e9d66e;
 border-radius:8px;
}

.submitButtonStyle{
  margin:5px;
  padding:3px;
  font-size:25px;
  background-color:#4ec758;
 border-radius:8px;
}

/* form css */
/* .homeFormStyle{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
} */
.homeFormStyle label{ 
  text-align: left;
  display: block;
}
.homeFormStyle h2{ 
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.homeFormStyle input, .createQuery textarea, .createQuery select{ 
  width: 100%;
  padding: 6px 10px;
  margin:10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.homeFormStyle button{
  background: #f1356d;
  color: #fff;
  border: 0;
  padding:8px;
  border-radius: 8px;
  cursor: pointer;
}

